org: lynicis
app: ulak-scrapping
service: ulak-scrapping
plugins:
  - serverless-offline

build:
  esbuild: 
    bundle: true
    external:
      - "@sparticuz/chromium"
      - puppeteer-core
      - puppeteer-extra
      - puppeteer-extra-plugin-stealth
      - cheerio
      - "@upstash/redis"
      - fast-xml-parser
      - zod/v4-mini
      - "@upstash/search"

provider:
  name: aws
  runtime: nodejs22.x
  httpApi:
    cors: true
    authorizers:
      supabaseJwtAuthorizer:
        type: jwt
        identitySource: $request.header.Authorization
        issuerUrl: ${env:SUPABASE_URL}
        audience:
          - authenticated

functions:
  fetchFollowings:
    handler: handlers/fetch-followings.handler
    timeout: 60
    environment:
      UPSTASH_REDIS_REST_URL: ${env:UPSTASH_REDIS_REST_URL}
      UPSTASH_REDIS_REST_TOKEN: ${env:UPSTASH_REDIS_REST_TOKEN}
      PUPPETEER_CHROMIUM_PATH: ${env:PUPPETEER_CHROMIUM_PATH}
      UPSTASH_SEARCH_REST_URL: ${env:UPSTASH_SEARCH_REST_URL}
      UPSTASH_SEARCH_REST_TOKEN: ${env:UPSTASH_SEARCH_REST_TOKEN}
    events:
      - httpApi:
          method: GET
          path: /followings/platforms/{platformName}/users/{username}
          authorizer: 
            name: supabaseJwtAuthorizer

  fetchContents:
    handler: handlers/fetch-contents.handler
    environment:
      UPSTASH_REDIS_REST_URL: ${env:UPSTASH_REDIS_REST_URL}
      UPSTASH_REDIS_REST_TOKEN: ${env:UPSTASH_REDIS_REST_TOKEN}
    events:
      - httpApi:
          method: GET
          path: /contents/platforms/{platformName}/users/{username}
          authorizer: 
            name: supabaseJwtAuthorizer

